.conten-2{
    color: black;
    text-align: center;
    padding-top: 130px;
    font-size: 40px;
}

.destination-2{
    text-align: center;
    padding-top: 20px;
}

.destination-2 b{
    text-align: center;
    padding-top: 90px;
    font-size: 40px;
  }
  
  .destination-2 p{
    text-align: center;
    text-align: center;
    padding-top: 1px;
    margin-top: 1px; 
    margin-bottom: 1px;
  }
  
  .destination-2 .container{
    text-align: center;
    padding-top: 50px;
  } 