.j-d-c{
    padding-top: 100px;
    text-align: center;
    font-size: 35px;
}

.j-d-c p{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

.g-decu img{
    margin-left: 115px;
    height: 415px;
    width: 1030px;
    padding-bottom: 30px;
}

.t-decu {
    margin-left: 115px;
    padding-bottom: 50px;
    margin-right: 115px;
}