::-webkit-scrollbar {
  display: none;
}

.navbar{
  position: sticky;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 75px;
  padding-top: -20px;
  background-color: #152D47;
}

a{
  text-decoration: none;
  color: white;
}

.container-fluid a{
  color: white;
}

/* #home{
  background-image: url('./assets/images/background.jpg');
  background-size: cover; 
  background-position: absolute; 
  background-repeat: no-repeat; 
  height: 100vh;
} */


.inline-list {
  position: sticky;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.inline-list li {
  position: sticky;
  display: inline;
  margin-right: 20px;
  font-size: 18px;
  color: white;
}

.conten{
  text-align: center;
  padding-top: 200px;
  font-size: 60px;
  background-image: url('');
  color: white;
}

.end{
  padding-top: 60px;
}

.btn{
  border-radius: 100px;
  background-color: #011526;
  color: white;
  
}

.btn:hover{
  color: #011526;
  background-color: white;
}


.booking{
  padding-top: 50px;
  gap: 15px;
  background-color: #EEE8DC ;
  height: 280px;
}

.form-control{
  border-radius: 100px;
}

.d{
  padding-top: 20px;
}

.btn-booking{
  padding-top: 60px;
}

#aboutUs b{
  font-size: 40px;
  padding-top: 10px;
  text-align: start;
}

.aboutUs p{
  text-align: start;
}

.btn-aboutUs{
  border-radius: 100px;
  background-color: #011526;
  color: white;
  width: 180px;
  height: 40px;
  align-items: end;
  justify-content: end;
  border: #011526;
}

#destination{
  text-align: center;
  padding-top: 90px;
}

#destination b{
  text-align: center;
  padding-top: 90px;
  font-size: 40px;
}

#destination p{
  text-align: center;
  text-align: center;
  padding-top: 1px;
  margin-top: 1px; 
  margin-bottom: 1px;
}

#destination .container{
  text-align: center;
  padding-top: 50px;
} 

.btn-destination{
  border-radius: 100px;
  background-color: #011526;
  color: white;
  width: 180px;
  height: 40px;
  align-items: end;
  justify-content: end;
  border: #011526;
  margin-top: 20px;
}

.text-overlay-1{
  padding-top: 255px;
  margin-left: 100px;
  color: white;
}

.text-overlay-2{
  padding-top: 255px;
  margin-left: 90px;
  color: white;
}

.text-overlay-3{
  padding-top: 255px;
  margin-left: 90px;
  color: white;
}

#culture{
  text-align: center;
  padding-top: 90px;
}

#culture b{
  text-align: center;
  padding-top: 90px;
  font-size: 40px;
}

#culture p{
  text-align: center;
  text-align: center;
  padding-top: 1px;
  margin-top: 1px; 
  margin-bottom: 1px;
}

.image{
  border-radius: 10px;
}

#package{
  text-align: center;
  padding-top: 90px;
}

#package b{
  text-align: center;
  padding-top: 90px;
  font-size: 40px;
}

#package p{
  text-align: center;
  text-align: center;
  padding-top: 1px;
  margin-top: 1px; 
  margin-bottom: 1px;
}

#package .card{
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 300px;
  margin-left: 40px;
  margin-top: 70px;
  border-radius: 15px;

}

#package .card .card-body .row{
  align-items: center;
  justify-content: center;
}

 #contactUs{
  background-color: #021526;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 40px;
  color: white;
 }

 #contactUs .conten1{
  padding-top: 20px;
  text-align: start;
 }

 #contactUs .conten2{
  padding-top: 40px;
  text-align: start;
 }

 #contactUs hr{
  margin-top: 50px;
  width: 1200px;
  margin-left: 40px;
 }

 #contactUs h4{
  padding-top: 70px;
 }

 #contactUs .col hr{
  width: 60px;
  margin-top: 10px;
  margin-left: 5px;
 }

 #contactUs .col .informasi{
  margin-top: 10px;
 }

 #contactUs .col .wa p{
  margin-top: -22px;
  margin-left: 50px;
 }

 #contactUs .col .email p{
  margin-top: -22px;
  margin-left: 50px;
 }

 #contactUs .col .lokasi p{
  margin-top: -22px;
  margin-left: 50px;
 }

 #contactUs .col .email{
  margin-top: 20px;
 }

 #contactUs .col .lokasi{
  margin-top: 20px;
 }

 #contactUs h6{
  text-align: center;
  padding-top: 10px;
 }

 .navbar-brand{
  margin-right: 30px;
  margin-top: -20px;
 }

 .d-flex{
  margin-top: -50px;
  padding-top: 50px;
 }

 .star-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
