/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

::-webkit-scrollbar {
  display: none;
}

.navbar{
  position: sticky;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 70px;
  
}

a{
  text-decoration: none;
  color: white;
}

.container-fluid a{
  color: white;
}

#home{
  background-image: url('./assets/background.jpg');
  background-size: cover; 
  background-position: absolute; 
  background-repeat: no-repeat; 
  height: 100vh;
}

.image{
  opacity: 0.5;
}

.inline-list {
  position: sticky;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.inline-list li {
  position: sticky;
  display: inline;
  margin-right: 20px;
  font-size: 18px;
  color: white;
}

.conten{
  text-align: center;
  padding-top: 75px;
  font-size: 60px;
  background-image: url('');
  color: white;
}

.end{
  padding-top: 60px;
}

.btn{
  border-radius: 100px;
  background-color: #011526;
  color: white;
}

.booking{
  padding-top: 50px;
  gap: 15px;
  background-color: #F2DCC2 ;
  height: 280px;
}

.form-control{
  border-radius: 100px;
}

.d{
  padding-top: 20px;
}

.btn-booking{
  padding-top: 60px;
}

#aboutUs b{
  font-size: 40px;
  padding-top: 10px;
  text-align: start;
}

.aboutUs p{
  text-align: start;
}

.btn-aboutUs{
  border-radius: 100px;
  background-color: #011526;
  color: white;
  width: 180px;
  height: 40px;
  align-items: end;
  justify-content: end;
}

